@include mediaXl{
    
}
@include mediaLg{
        nav .menu{
            width: 80%;
        }
        main{



        .main-container{
            display: grid;
    width: 100vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'box1 box2' 'box3 box4';
    grid-auto-columns: minmax(100px, auto);

            

            .box1{
                -ms-grid-row: 1;
                -ms-grid-column: 1;
                grid-area: box1;
                padding: 1rem;

                h2{
                font-size: 1.5rem;}
            }
            .box2{
                -ms-grid-row: 2;
                -ms-grid-column: 1;
                grid-area: box2;
            }

            .box3{-ms-grid-row: 3;
                -ms-grid-column: 1;
                grid-area: box3;
                
                
            }
            .box4{-ms-grid-row: 4;
                -ms-grid-column: 1;
                grid-area: box4;
                padding: 1rem;
                
                h2{
                font-size: 1.5rem;}

            }
        }
    }
    
.container-shop{
    display: grid;
    grid-template-areas: 'form cont cont cont';
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 3rem;
    height: 100%;

    .filter{
        height: 100vh;
        width: 60%;
        margin: 0 auto;
        grid-area: form;
        line-height: 2;

        .hr2{
            opacity: 0.3;
        }

        h3{
            font-size: 2rem;
            font-weight: lighter;
            opacity: 0.9;
            text-align: left;
            color: $secondary-color;
        }
        h4{
        font-weight: lighter;
        }
        ul {
            list-style: none;
            border-top: 1px solid $primary-color;
            border-bottom: 1px solid $primary-color;
            opacity: 0.6;
            li{
                @include easeOut;
                cursor: pointer;
                &:hover{
                    color: $secondary-color;
                }
            }
        }
    }


.container{
    grid-area: cont;
    display: grid;
    grid-template-areas: 
    'grid-1 grid-2' 
    'grid-3 grid-4' 
    'grid-5 grid-6'
    'grid-7 grid-8'
    'grid-10 grid-9' 
    'grid-11 grid-12' ;
	grid-template-columns: repeat(2, 1fr);
    padding-right: 5%;
    padding-left: .8rem;
    grid-gap: 0.8rem;
    border-left: 1px double $primary-color;

    .hr{
        width: 80%;
        background: $primary-color;
        height: 1px;
        margin: .4rem auto;
    }

    .grid p{
        text-align: center;
        line-height: 1.2;
    }
    .grid{
    position: relative;
    width: 100%;

    .show-more{
        position: absolute;
        transition: 0.6s;
        background-size: cover;
        padding-top: 5rem;
        cursor: pointer;
        bottom: 10%;
        height: 100%;
        width: 100%;
        top: 0;
        background: $secondary-color;
        color: $light-color;
        text-align: center;
        font-size: 2rem;
        opacity: 0;
        
        &:hover{
        opacity: 0.7;
        }
    }
}
    
    .grid-1{
        grid-area: grid-1;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        
    
        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
            }
        img{
            width: 20rem;
        }
    }
    .grid-2{
        grid-area: grid-2;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            box-shadow: 0 0 10px $primary-color;
            }
        img{
            width: 20rem;
        }
    }
    .grid-3{
        grid-area: grid-3;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            box-shadow: 0 0 10px $primary-color;
            }
        img{
            width: 20rem;
        }
    }
    .grid-4{
        grid-area: grid-4;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
            }
        img{
            width: 20rem;
        }
    }
    .grid-5{
        grid-area: grid-5;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
            }
        img{
            width: 20rem;
        }
    }
    .grid-6{
        grid-area: grid-6;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
            }
        img{
            width: 20rem;
        }
    }
    .grid-7{
        grid-area: grid-7;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
            }
        img{
            width: 20rem;
        }
    }
    .grid-8{
        grid-area: grid-8;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
            }
        img{
            width: 20rem;
        }
    }
    .grid-9{
        grid-area: grid-9;
        align-self: end;
        transition: 0.4s;
        justify-self: center;

        
        
    
    &:hover{
        box-shadow: 0 0 10px $primary-color;
        
        }    img{
            width: 20rem;
        }
    }
    .grid-10{
        grid-area: grid-10;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
        }
        img{
            width: 20rem;
        }
    }
    .grid-11{
        grid-area: grid-11;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
        }
        img{
            width: 20rem;
        }
    }
    .grid-12{
        grid-area: grid-12;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
        }
        img{
            width: 20rem;
        }
    }
}
}

    
}
@include mediaMd{
    .faq-container .faq-heading{
        font-size: 1rem;

        
    }
    .menu-btn{
        .btn-line{
            background: $secondary-color;
        }
    }
    
    nav .menu{
        width: 90%;
    }
    main{
    .main-container{
                grid-template-areas: 'box1' 'box2' 'box3' 'box4';
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;

        

        .box1{
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            grid-area: box1;
            width: 90%;
            padding: 1rem;

            h2{
            font-size: 1.5rem;}
        }
        .box2{
            -ms-grid-row: 2;
            -ms-grid-column: 1;
            grid-area: box2;
            width: 100%;
        }

        .box3{
            -ms-grid-row: 4;
            -ms-grid-column: 1;
            grid-area: box4;
            width: 100%;
            
        }
        .box4{
            -ms-grid-row: 3;
            -ms-grid-column: 1;
            grid-area: box3;
            width: 100%;
            width: 90%;
            padding: 1rem;

            h2{
            font-size: 1.5rem;}
        }
    }
}
.shop-title{
    font-size: 1.7rem;
}
.container-shop{
    display: block;
    padding-bottom: 3rem;
    height: 100%;

    .filter{
        width: 60%;
        margin: 0 auto;
        line-height: 2;
        height: 40vh;

        .hr2{
            opacity: 0.3;
        }

        h3{
            font-size: 2rem;
            font-weight: lighter;
            opacity: 0.9;
            text-align: left;
            color: $secondary-color;
        }
        h4{
        font-weight: lighter;
        }
        ul {
            list-style: none;
            border-top: 1px solid $primary-color;
            border-bottom: 1px solid $primary-color;
            opacity: 0.6;
            li{
                @include easeOut;
                cursor: pointer;
                &:hover{
                    color: $secondary-color;
                }
            }
        }
    }


.container{
    display: grid;
    grid-template-areas: 
    'grid-1 grid-2' 
    'grid-3 grid-4' 
    'grid-5 grid-6'
    'grid-7 grid-8'
    'grid-10 grid-9' 
    'grid-11 grid-12' ;
	grid-template-columns: repeat(3, 1fr);
    padding: 5%;
    grid-gap: 0.8rem;

    .hr{
        width: 80%;
        background: $primary-color;
        height: 1px;
        margin: .4rem auto;
    }

    .grid p{
        text-align: center;
        line-height: 1.2;
    }
    .grid{
    position: relative;
    width: 100%;

    .show-more{
        position: absolute;
        transition: 0.6s;
        background-size: cover;
        padding-top: 5rem;
        cursor: pointer;
        bottom: 10%;
        height: 100%;
        width: 100%;
        top: 0;
        background: $secondary-color;
        color: $light-color;
        text-align: center;
        font-size: 2rem;
        opacity: 0;
        
        &:hover{
        opacity: 0.7;
        }
    }
}
    
    .grid-1{
        grid-area: grid-1;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        
    
        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
            }
        img{
            width: 20rem;
        }
    }
    .grid-2{
        grid-area: grid-2;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            box-shadow: 0 0 10px $primary-color;
            }
        img{
            width: 20rem;
        }
    }
    .grid-3{
        grid-area: grid-3;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            box-shadow: 0 0 10px $primary-color;
            }
        img{
            width: 20rem;
        }
    }
    .grid-4{
        grid-area: grid-4;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
            }
        img{
            width: 20rem;
        }
    }
    .grid-5{
        grid-area: grid-5;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
            }
        img{
            width: 20rem;
        }
    }
    .grid-6{
        grid-area: grid-6;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
            }
        img{
            width: 20rem;
        }
    }
    .grid-7{
        grid-area: grid-7;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
            }
        img{
            width: 20rem;
        }
    }
    .grid-8{
        grid-area: grid-8;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
            }
        img{
            width: 20rem;
        }
    }
    .grid-9{
        grid-area: grid-9;
        align-self: end;
        transition: 0.4s;
        justify-self: center;

        
        
    
    &:hover{
        box-shadow: 0 0 10px $primary-color;
        
        }    img{
            width: 20rem;
        }
    }
    .grid-10{
        grid-area: grid-10;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
        }
        img{
            width: 20rem;
        }
    }
    .grid-11{
        grid-area: grid-11;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
        }
        img{
            width: 20rem;
        }
    }
    .grid-12{
        grid-area: grid-12;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
        }
        img{
            width: 20rem;
        }
    }
}
}

    
    
}
@include mediaSm{
    

}
@include mediaLs{
    

}

@include mediaOdd{
    
    .menu-btn{
        z-index: 10000;
        visibility: visible;
        display: block;
        position: fixed;
        opacity: 1;
        cursor: pointer;
    }

    .hide-search{
        visibility: hidden;
        opacity: 0;
    }
    nav{
        opacity: 0;
        visibility: hidden;
        background: none;
        
        &.show{
            width: 100%;
            opacity: 1;
            visibility: visible;

          
            .menu{
                background: $primary-color;
                width: 100%;
                opacity: 0.92;
                
            }
             ul{
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                text-align: center;

                a:hover{
                background: lighten($primary-color, 5);
                }
            }
        }
    }

    section{
        .main-text{
            font-size: 1.7rem;
            line-height: 1;
            margin-bottom: -3rem;

        }
     .wrapper{
        display: block;
    }
}
    main{



    .main-container{
        grid-template-areas: 'box1' 'box2' 'box3' 'box4';
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;

        

        .box1{
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            grid-area: box1;
            width: 90%;
            padding: 1rem;

            h2{
            font-size: 1.5rem;}
        }
        .box2{
            -ms-grid-row: 2;
            -ms-grid-column: 1;
            grid-area: box2;
            width: 100%;
        }

        .box3{
            -ms-grid-row: 4;
            -ms-grid-column: 1;
            grid-area: box4;
            width: 100%;
            
        }
        .box4{
            -ms-grid-row: 3;
            -ms-grid-column: 1;
            grid-area: box3;
            width: 100%;
            width: 90%;
            padding: 1rem;

            h2{
            font-size: 1.5rem;}
        }
    }
}
.background h1{
    font-size: 2.5rem;
    margin-top: -4rem;
}
.contact{
    font-size: 1.5rem;
    padding: 1rem;
}
.container-shop{
    display: block;
    padding-bottom: 3rem;
    height: 100%;

    .container{
    display: block;
    padding: 5%;
    }
}
.blog-container{
    .blog{
        display: block;
        margin-bottom: 2rem;

        .blog-1{
            width: 100%;
            height: 300px;
        }

        
    }
}
.main-contact{
    width: 80%;
    margin: 0 auto;
    line-height: 2;

    .heading{
        font-size: 2rem;
        text-align: center;
        margin: 5rem 0 2rem 0;
    }
    .contact-flex{
        display: grid;
        grid-template-areas: 'grid-1' 'grid-2';
        grid-template-columns: 1fr;
        text-align: center;
        padding-bottom: 3rem;

        .grid-1{
            grid-area: grid-1;
        }
        .grid-2{
            grid-area: grid-2;
            border-left: none;
        }
    }
}
.contact-container{

    .contact-form{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        
        .flex-1{
            .inputs{
            width: 20rem;
        }
    }
.flex-2{
    .inputs.message{
        width: 20rem;
    }
}
}
}

.map-container{
    width: 100%;
    height: 80vh;
    padding: 4rem 0;

    .map{
        text-align: center;
    iframe{
        width: 100%;
    }
}
}
}