*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    color: $primary-color;
    width: 100vw;
    font-weight: lighter;
}
