@import "config";
@import "reset";
@import "navbar";



// header
.background{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
    .img{
        width: 100%;
        height: 100%;
        background-image: url('../img/back.jpg');
        background-color: $primary-color;
        background-blend-mode: soft-light;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -1000;

    }
    .caption{
        text-align: center;
        padding-top: 18rem;
        
        h1{
            font-size: 6rem;
            font-weight: bold;
            color: $light-color;
        }
    }
}
section{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5rem;


    .main-text{
        font-size: 2.6rem;
        color: $primary-color;
        line-height: 2;
        text-align: center;
        margin-top: 3rem;
    }
    .wrapper{
        display: grid;
        grid-template-areas: 'box-1 box-2 box-3';
        grid-template-columns: repeat(3, 1fr);
        grid-auto-columns: 200px;
        grid-gap: 2.6rem;
        padding: 3rem 0;
        
        .box{
            
            img{
                width: 70%;
                margin-bottom: 1rem;
            }
            
            
        }
        .box-1{
            grid-area: box-1;
        }
        .box-2{
            grid-area: box-2;
        }
        .box-3{
            grid-area: box-3;
        }
    }
}

// Article
article{
    width: 100%;
    background: $primary-color;
    padding: 3rem 0;
    
    .main-article{
        text-align: center;
        margin: 0 auto;
        color: $light-color;
        width: 50%;

        h3{
            font-size: 2rem;
            letter-spacing: 2px;
        }

        .quote{
            font-size: 3rem;
            color: $secondary-color;
            margin-bottom: .3rem;
            
        }
        
    }
}

// main section
main{
    width: 100%;
    margin: 0 auto;

    .main-container{
        display: grid;
        width: 100vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'box1 box2' 'box3 box4';
        grid-auto-columns: minmax(100px, auto);

        

        .box1{
            grid-area: box1;
            width: 50vw;
            padding: 4rem 9rem 0 9rem;
            line-height: 1.7;

            h2{
                font-size: 3rem;
                color: $secondary-color;
            }
            p{
                opacity: 0.85;
            }
        }

        .box2{
            grid-area: box2;
            width: 50vw;
            height: auto;
        }

        .box3{
            grid-area: box3;
            width: 50vw;
            height: auto;
        }

        .box4{
             grid-area: box4;
            width: 50vw;
            padding: 4rem 9rem 0 9rem;
            line-height: 1.7;

            h2{
                font-size: 3rem;
                color: $secondary-color;
            }
            p{
                opacity: 0.85;
            }
        }
        
    }
}
aside{
    width: 100%;
    text-align: center;
    padding: 3rem;
    background: $secondary-color;
    

    a{
    padding: 0.6rem;
    color: $light-color;
    @include easeOut;

    &:hover{
        color: $primary-color;
        }
    }
}
// shop
.shop-title{
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-weight: lighter;
    padding: 4rem;
    text-align: center;


}
.container-shop{
    display: grid;
    grid-template-areas: 'form cont cont cont';
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 3rem;
    height: 100%;

    .filter{
        height: 100vh;
        width: 60%;
        margin: 0 auto;
        grid-area: form;
        line-height: 2;

        .hr2{
            opacity: 0.3;
        }

        h3{
            font-size: 2rem;
            font-weight: lighter;
            opacity: 0.9;
            text-align: left;
            color: $secondary-color;
        }
        h4{
        font-weight: lighter;
        }
        ul {
            list-style: none;
            border-top: 1px solid $primary-color;
            border-bottom: 1px solid $primary-color;
            opacity: 0.6;
            li{
                @include easeOut;
                cursor: pointer;
                &:hover{
                    color: $secondary-color;
                }
            }
        }
    }


.container{
    grid-area: cont;
    display: grid;
    grid-template-areas: 
    'grid-1 grid-2 grid-3' 
    'grid-4 grid-5 grid-6'
    'grid-7 grid-8 grid-9'
    'grid-10 grid-11 grid-12' ;
	grid-template-columns: repeat(3, 1fr);
    padding-right: 5%;
    padding-left: .8rem;
    grid-gap: 0.8rem;
    border-left: 1px double $primary-color;

    .hr{
        width: 80%;
        background: $primary-color;
        height: 1px;
        margin: .4rem auto;
    }

    .grid p{
        text-align: center;
        line-height: 1.2;
    }
    .grid{
    position: relative;
    width: 100%;

    .show-more{
        position: absolute;
        transition: 0.6s;
        background-size: cover;
        padding-top: 5rem;
        cursor: pointer;
        bottom: 10%;
        height: 100%;
        width: 100%;
        top: 0;
        background: $secondary-color;
        color: $light-color;
        text-align: center;
        font-size: 2rem;
        opacity: 0;
        
        &:hover{
        opacity: 0.7;
        }
    }
}
    
    .grid-1{
        grid-area: grid-1;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        
    
        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
            }
        img{
            width: 20rem;
        }
    }
    .grid-2{
        grid-area: grid-2;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            box-shadow: 0 0 10px $primary-color;
            }
        img{
            width: 20rem;
        }
    }
    .grid-3{
        grid-area: grid-3;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            box-shadow: 0 0 10px $primary-color;
            }
        img{
            width: 20rem;
        }
    }
    .grid-4{
        grid-area: grid-4;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
            }
        img{
            width: 20rem;
        }
    }
    .grid-5{
        grid-area: grid-5;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
            }
        img{
            width: 20rem;
        }
    }
    .grid-6{
        grid-area: grid-6;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
            }
        img{
            width: 20rem;
        }
    }
    .grid-7{
        grid-area: grid-7;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
            }
        img{
            width: 20rem;
        }
    }
    .grid-8{
        grid-area: grid-8;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
            }
        img{
            width: 20rem;
        }
    }
    .grid-9{
        grid-area: grid-9;
        align-self: end;
        transition: 0.4s;
        justify-self: center;

        
        
    
    &:hover{
        box-shadow: 0 0 10px $primary-color;
        
        }    img{
            width: 20rem;
        }
    }
    .grid-10{
        grid-area: grid-10;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
        }
        img{
            width: 20rem;
        }
    }
    .grid-11{
        grid-area: grid-11;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
        }
        img{
            width: 20rem;
        }
    }
    .grid-12{
        grid-area: grid-12;
        justify-self: center;
        align-self: end;
        transition: 0.4s;
        

        &:hover{
            
            box-shadow: 0 0 10px $primary-color;
            
        }
        img{
            width: 20rem;
        }
    }
}
}



.form{
    width: 100%;
    background: $primary-color;
    padding: 3rem 0;
    border-bottom: 1px solid $secondary-color;
    
    #form{
    margin: 0 auto;
    text-align: center;

    }

    p{
    color: $light-color;
    margin: 1rem 0;
    }
    .email{
        width: 60%;
        height: 3rem;
        background: $light-color;
        font-size: 1rem;
        border: none;
        outline: none;
        text-align: center;
    }
}
.contact{
    font-size: 3rem;
}
footer{
    background: $primary-color;
    color: $secondary-color;
    text-align: center;
    padding: 3rem;

    span{
        color: $light-color;
    }
}
.blog-container{
    padding: 1rem 3rem;
    line-height: 1.5;

    .blog-heading{
        margin: 3rem 0;
        font-weight: lighter;
    }
    .blog{
        border: 1px solid $secondary-color;
        display: grid;
        grid-template-areas: 'blog-1 blog-2';
        grid-template-columns: 1fr 1fr;
        margin-bottom: 2rem;

        .blog-1{
            grid-area: blog-1;
            
        }
        .blog-2{
            grid-area: blog-2;
            padding: 3rem;

            p{
                margin: 1rem 0;
            }
            a{
                text-decoration: none;
                padding-bottom: -2em;
            }
            .coment{
                display: flex;
                justify-content: space-between;
                margin-top: 1rem;
                
                a:nth-child(1){
                    color: $secondary-color;
                }
                
                
                a:nth-child(2){
                    color: red;
                    
                }
                span.white{
                    color: $secondary-color;
                }
            }
        }
        .img-1{
            background: url(../img/bicycling-bicyclist-cyclist-1289107.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .img-2{
            background: url(../img/bicycle-bicyclist-biker-128202.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .img-3{
            background: url(../img/bicycle-biker-biking-1548771.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .img-4{
            background: url(../img/bikeP-1.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .img-5{
            background: url(../img/bikeP-2.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
.faq-title{
    margin-top: 4rem;
    font-size: 2rem;
    text-align: center;
}
.faq-container{
    padding: 3rem;
    
    .faq-heading{
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 2rem;
        color: $secondary-color;
    }
    a{
        padding: .7rem;
        color: $secondary-color;
        font-size: 1.5rem;
        transform: scale (0);
        @include easeOut;

        &:hover{
            color: lighten($secondary-color, 39);
        transform: scale (0.8);

        }
    }

    .fac-box{
        margin: 0 auto;
        padding: 0 10%;
        line-height: 2;
        transition: all 0.6s ease;
        .title{
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            .btn-icons{
                color: $secondary-color;
                a.minus{
                    visibility: hidden;
                    display: none;
                    opacity: 0;
                }
            }
        }
        .hide-item{
            display: none;
            opacity: 0;
            transition: 0.5s;
            visibility: hidden;
        }
        &.active{
            .title .btn-icons{
                a.minus{
                    visibility: visible;
                    display: block;
                    opacity: 1;
                }
                a.plus{
                    visibility: hidden;
                    display: none;
                    opacity: 0;
                }
            }
            .hide-item{
                display: block;
                opacity: 1;
                visibility: visible;
        }
        }
    }
    .fac-box1{
        margin: 0 auto;
        padding: 0 10%;
        line-height: 2;
        transition: all 0.6s ease;
        .title1{
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            .btn-icons{
                color: $secondary-color;
                a.minus{
                    visibility: hidden;
                    display: none;
                    opacity: 0;
                }
            }
        }
        .hide-item{
            display: none;
            opacity: 0;
            transition: 0.5s;
            visibility: hidden;
        }
        &.active{
            .title .btn-icons{
                a.minus{
                    visibility: visible;
                    display: block;
                    opacity: 1;
                }
                a.plus{
                    visibility: hidden;
                    display: none;
                    opacity: 0;
                }
            }
            .hide-item{
                display: block;
                opacity: 1;
                visibility: visible;
        }
        }
    }
    .fac-box2{
        margin: 0 auto;
        padding: 0 10%;
        line-height: 2;
        transition: all 0.6s ease;
        .title2{
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            .btn-icons{
                color: $secondary-color;
                a.minus{
                    visibility: hidden;
                    display: none;
                    opacity: 0;
                }
            }
        }
        .hide-item{
            display: none;
            opacity: 0;
            transition: 0.5s;
            visibility: hidden;
        }
        &.active{
            .title .btn-icons{
                a.minus{
                    visibility: visible;
                    display: block;
                    opacity: 1;
                }
                a.plus{
                    visibility: hidden;
                    display: none;
                    opacity: 0;
                }
            }
            .hide-item{
                display: block;
                opacity: 1;
                visibility: visible;
        }
        }
    }
    .fac-box3{
        margin: 0 auto;
        padding: 0 10%;
        line-height: 2;
        transition: all 0.6s ease;
        .title3{
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            .btn-icons{
                color: $secondary-color;
                a.minus{
                    visibility: hidden;
                    display: none;
                    opacity: 0;
                }
            }
        }
        .hide-item{
            display: none;
            opacity: 0;
            transition: 0.5s;
            visibility: hidden;
        }
        &.active{
            .title .btn-icons{
                a.minus{
                    visibility: visible;
                    display: block;
                    opacity: 1;
                }
                a.plus{
                    visibility: hidden;
                    display: none;
                    opacity: 0;
                }
            }
            .hide-item{
                display: block;
                opacity: 1;
                visibility: visible;
        }
        }
    }
    .fac-box4{
        margin: 0 auto;
        padding: 0 10%;
        line-height: 2;
        transition: all 0.6s ease;
        .title4{
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            .btn-icons{
                color: $secondary-color;
                a.minus{
                    visibility: hidden;
                    display: none;
                    opacity: 0;
                }
            }
        }
        .hide-item{
            display: none;
            opacity: 0;
            transition: 0.5s;
            visibility: hidden;
        }
        &.active{
            .title .btn-icons{
                a.minus{
                    visibility: visible;
                    display: block;
                    opacity: 1;
                }
                a.plus{
                    visibility: hidden;
                    display: none;
                    opacity: 0;
                }
            }
            .hide-item{
                display: block;
                opacity: 1;
                visibility: visible;
        }
        }
    }

}

.main-contact{
    width: 80%;
    margin: 0 auto;
    line-height: 2;

    .heading{
        font-size: 2rem;
        text-align: center;
        margin: 5rem 0 2rem 0;
    }
    .contact-flex{
        display: grid;
        grid-template-areas: 'grid-1 grid-2';
        grid-template-columns: 1fr 1fr;
        text-align: center;
        padding-bottom: 3rem;

        .grid-1{
            grid-area: grid-1;
        }
        .grid-2{
            grid-area: grid-2;
            border-left: 1px solid $secondary-color;
        }
        a{
            text-decoration: none;
            color: $secondary-color;
        }
        a.location{
            color: $secondary-color;
            font-size: 4rem;
        }
        .vr{
            width: 1px;
            height: 250px;
            background: $secondary-color;
        }
    }
}
.contact-container{
    background: $primary-color;
    width: 100%;
    padding: 7%;
    margin: 0 auto;
    line-height: 1.6;
    text-align: center;
        a{
                color: $light-color;
                opacity: 0.7;
                text-decoration: none;
        }

    .contact-form{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        
        .flex-1{
            .inputs{
            width: 30rem;
            height: 3rem;
            font-size: 1rem;
            background: none;
            border: 2px solid darken($light-color, 16);
            color: $light-color;
            opacity: 0.8;
            margin: 0.3rem 0;
            outline: none !important;
            transition: 0.2s;

            &:hover{
                background: rgba(255, 255, 255, 0.164);
            }
        }
    }
.flex-2{
    .inputs.message{
        width: 30rem;
        height: 10.2rem;
        font-size: 1.1rem;
        padding: 1rem;
        background: none;
        border: 2px solid darken($light-color, 16);
        color: $light-color;
        opacity: 0.8;
        margin: 0.3rem 10px;
        outline: none !important;
        resize: none;

        &:hover{
                background: rgba(255, 255, 255, 0.164);
            }
    }
}
}
}

.map-container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 7rem 0;

    .map{
        text-align: center;
    iframe{
        width: 80%;
        height: 60vh;
    }
}
}
@import "mobile";
