@import "config";
@import "reset";
@import "navbar";


// header
.background{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
    .img{
        width: 100%;
        height: 100%;
        background-image: url('../img/back.jpg');
        background-color: $primary-color;
        background-blend-mode: soft-light;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -1000;

    }
    .caption{
        text-align: center;
        padding-top: 18rem;
        
        h1{
            font-size: 6rem;
            font-weight: bold;
            color: $light-color;
        }
    }
}
section{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5rem;


    .main-text{
        font-size: 2.6rem;
        color: $primary-color;
        line-height: 2;
        text-align: center;
        margin-top: 3rem;
    }
    .wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2.6rem;
        padding: 3rem 0;
        
        .box{
            grid-auto-rows: (100px auto);
        }
    }
}

// Article
article{
    width: 100%;
    background: $primary-color;
    padding: 3rem 0;
    
    .main-article{
        text-align: center;
        margin: 0 auto;
        color: $light-color;
        width: 50%;

        h3{
            font-size: 2rem;
            letter-spacing: 2px;
        }

        .quote{
            font-size: 3rem;
            color: $secondary-color;
            margin-bottom: .3rem;
            
        }
        
    }
}

// main section
main{
    width: 100%;
    margin: 0 auto;

    .main-container{
        display: grid;
        width: 100vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'box1 box2' 'box3 box4';
        grid-auto-columns: minmax(100px, auto);

        
        // grid-auto-rows: minmax(100px, 100px);
        // justify-content: left;


        .box1{
            grid-area: box1;
            width: 50vw;
            padding: 4rem 9rem 0 9rem;
            line-height: 1.7;

            h2{
                font-size: 3rem;
                color: $secondary-color;
            }
            p{
                opacity: 0.85;
            }
        }

        .box2{
            grid-area: box2;
            width: 50vw;
            height: auto;
        }

        .box3{
            grid-area: box3;
            width: 50vw;
            height: auto;
        }

        .box4{
             grid-area: box4;
            width: 50vw;
            padding: 4rem 9rem 0 9rem;
            line-height: 1.7;

            h2{
                font-size: 3rem;
                color: $secondary-color;
            }
            p{
                opacity: 0.85;
            }
        }
        
    }
}
aside{
    width: 100%;
    text-align: center;
    padding: 3rem;
    background: $secondary-color;
    

    a{
    padding: 0.6rem;
    color: $light-color;
    @include easeOut;

    &:hover{
        color: $primary-color;
        }
    }
}

.form{
    width: 100%;
    background: $primary-color;
    padding: 3rem 0;
    
    #form{
    margin: 0 auto;
    text-align: center;

    }

    p{
    color: $light-color;
    margin: 1rem 0;
    }
    .email{
        width: 60%;
        height: 3rem;
        background: $light-color;
        font-size: 1rem;
        border: none;
        outline: none;
        text-align: center;
    }
}
.contact{
    font-size: 3rem;
}
footer{
    background: $primary-color;
    color: $secondary-color;
    text-align: center;
    padding: 3rem;

    span{
        color: $light-color;
    }
}

@import "mobile";